{% extends 'payapps/elements/layouts/admin.html' %}
{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}
    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ parent_module }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ child_module }}</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ form_title}}</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                {% if messages %}
                                    <div class="alert alert-light solid alert-square">
                                        {% for message in messages %}
                                            <strong>Error!</strong> {{ message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if form.errors %}
                                    <div class="alert alert-warning solid alert-dismissible fade show">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                        </button>
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <strong>{{ field }}:</strong> {{ error }} <a href="#" class="badge badge-sm light badge-warning ms-1">Validation Error</a>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% block form_content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
{% endblock %}