@import "./page-error";
@import "./page-auth";
@import "./page-doctor-details";



//specific HTML pages scss
@import "./homepage";
@import "./my-profile";
@import "./card-center";
@import "./my-wallet";
@import "./create-invoices";







@import "./ecom-product-detail";
@import "./ecom-product-grid";
@import "./ecom-product-list";






