{% extends 'payapps/layout/list_template.html' %}
{% load static %}

{% block list_additional_css %}
{% endblock %}

{% block list_content %}
    <!--**********************************
        Listing table start
    ***********************************-->
    <table class="table card-table display mb-4 dataTablesCard " id="example5">
        <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAll">
                    <label class="form-check-label" for="checkAll">
                    </label>
                </div>
            </th>
            <th>ID Payee</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if requests %}
            {% for request in requests %}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                            </label>
                        </div>
                    </td>
                    <td><span class="text-black font-w500">#{{ request.id }}</span></td>
                    <td><span class="text-black font-w500">
                                                                <h6 class="fs-16 font-w600 mb-0">@<a
                                                                        href="javascript:void(0);"
                                                                        class="text-black">{{ request.receiver.username }}
                                                                    </a>
                                                                <br/>
                                                                    {{ request.receiver.email }}
                                                                </h6>
                                                                <span class="fs-14">Requested</span></span></td>
                    <td><span class="text-black font-w500">{{ request.invoice_date }}</span></td>
                    <td><span
                            class="text-black text-nowrap">+{{ request.transaction.sent_currency.iso_code }} {{ request.transaction.amount_requested }}</span>
                    </td>
                    <td>
                        {% if request.status == '0' %}
                            <span class="fs-16 font-w500 text-end d-block text-light">
                                                                            Draft
                                                                            </span>
                        {% elif request.status == '1' %}
                            <span class="fs-16 font-w500 text-end d-block text-info">
                                                                            Requested
                                                                            </span>

                        {% elif request.status == '2' %}
                            <span class="fs-16 font-w500 text-end d-block text-warning">
                                                                            Processing
                                                                            </span>

                        {% elif request.status == '3' %}
                            <span class="fs-16 font-w500 text-end d-block text-success">
                                                                            Processed
                                                                            </span>
                        {% elif request.status == '4' %}
                            <span class="fs-16 font-w500 text-end d-block text-success">
                                                                            Rejected
                                                                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-danger light sharp" data-bs-toggle="dropdown">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                        <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                        <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'payapp:payment-action' action='accept' transaction_id=request.id %}">Accept</a>
                                <a class="dropdown-item" href="{% url 'payapp:payment-action' action='reject' transaction_id=request.id %}">Reject</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan="10">No records found.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <!--**********************************
        Listing table end
    ***********************************-->
{% endblock %}