{% extends 'payapps/layout/list_template.html' %}
{% load static %}

{% block list_additional_css %}
{% endblock %}

{% block list_content %}
    <!--**********************************
        Listing table start
    ***********************************-->
    <table class="table card-table display mb-4 dataTablesCard " id="example5">
        <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAll">
                    <label class="form-check-label" for="checkAll">
                    </label>
                </div>
            </th>
            <th>ID Payee</th>
            <th>Name</th>
            <th>Transaction Request Time</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% if requests %}
            {% for request in requests %}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                            </label>
                        </div>
                    </td>
                    <td><span class="text-black font-w500">#{{ request.id }}</span></td>
                    <td>
                        <span class="text-black font-w500">
                            <h6 class="fs-16 font-w600 mb-0">

                                {% if request.receiver.id == user.id %}
                                    <span class="fs-16 font-w500 d-block text-info"> Requested from</span>
                                {% elif request.sender.id == user.id %}
                                    <span class="fs-16 font-w500  d-block text-indigo"> Request sent</span>
                                {% endif %}

                                @<a
                                    href="javascript:void(0);"
                                    class="text-black">
                                {% if request.receiver.id == user.id %}
                                {{ request.sender.username }}
                                <br/>
                                {{ request.sender.email }}
                            {% elif request.sender.id == user.id %}
                                {{ request.receiver.username }}
                                <br/>
                                {{ request.receiver.email }}
                            {% endif %}
                            </a>
                            </h6>
                            {% if request.receiver.id == user.id and request.status == '3' %}
                                <span class="fs-16 font-w500 d-block text-success"> Paid</span>
                            {% elif request.sender.id == user.id and request.status == '3' %}
                                <span class="fs-16 font-w500  d-block text-success"> Received</span>
                            {% else %}
                                <span class="fs-16 font-w500  d-block text-warning"> Action Pending</span>
                            {% endif %}
                        </span>
                    </td>
                    <td><span class="text-black font-w500 text-end">{{ request.transaction.created_at }}</span></td>
                    <td><span
                            class="text-black text-nowrap">+{{ request.transaction.requested_currency.iso_code }} {{ request.transaction.amount_requested }}</span>
                    </td>
                    <td>
                        {% if request.status == '0' %}
                            <span class="fs-16 font-w500 d-block text-light"> Draft</span>
                        {% elif request.status == '1' %}
                            <span class="fs-16 font-w500 d-block text-info">
                                {% if request.receiver.id == user.id %}  Requested
                                {% elif request.sender.id == user.id %} Sent
                                {% endif %}
                            </span>
                        {% elif request.status == '2' %}
                            <span class="fs-16 font-w500 d-block text-warning">Processing</span>

                        {% elif request.status == '3' %}
                            <span class="fs-16 font-w500 d-block text-success">Accepted</span>
                        {% elif request.status == '4' %}
                            <span class="fs-16 font-w500 d-block text-danger">Rejected</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.status != '4' and request.status != '3' and request.receiver.id == user.id %}
                            <div class="dropdown">
                                <button type="button" class="btn btn-danger light sharp" data-bs-toggle="dropdown">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                            <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                            <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                        </g>
                                    </svg>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                       href="{% url 'payapp:payment-action' action='accept' transaction_id=request.id %}">Accept</a>
                                    <a class="dropdown-item"
                                       href="{% url 'payapp:payment-action' action='reject' transaction_id=request.id %}">Reject</a>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan="10">No records found.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <!--**********************************
        Listing table end
    ***********************************-->
{% endblock %}