{% extends 'payapps/layout/list_template.html' %}
{% load static %}

{% block list_additional_css %}
{% endblock %}

{% block list_content %}
    <div class="card bg-light">
        <div class="col-6">
            <div class="card-body">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <div class="d-flex justify-content-between">
                            <div class="text-left ml-4">
                                <div class="d-flex py-3 align-items-center ">
                                    <img src="{% static 'payapps/images/card/card1.png' %}" alt="" class="rounded me-3 card-list-img" width="130">
                                    <div class="me-3 text-left">
                                        <p class="fs-14 mb-1">My PayGenius Card</p>
                                        <span class="text-black font-w600 fs-18">{{ wallet.wallet_number|slice:"0:4" }} **** **** {{ wallet.wallet_number|slice:"10:16" }} </span>
                                    </div>
                                </div>
                                <h4 class="fs-18 font-w700"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex border-bottom justify-content-between flex-wrap align-items-center card-type">
                            <div class="me-3 pb-3">
                                <p class="fs-14 mb-1">Card Info</p>
                                <span class="text-black font-w600 fs-18">PayGenius Virtual card</span>
                            </div>
                        </div>
                        <div class="d-flex border-bottom justify-content-between flex-wrap align-items-center card-type">
                             <div class="me-3 pb-3">
                                <p class="fs-14 mb-1">Name on Card</p>
                                <span class="text-black font-w600 fs-18">{{ user.first_name }} {{ user.last_name }}</span>
                            </div>
                            <div class="me-3 pb-3">
                                <p class="fs-14 mb-1">Card Number</p>
                                <span class="text-black font-w600 fs-18">**** **** **** {{ wallet.wallet_number|slice:"10:16" }}</span>
                            </div>
                            <div class="me-3 pb-3">
                                <p class="fs-14 mb-1">Available on Card</p>
                                <span class="text-black font-w600 fs-18">{{ wallet.currency.iso_code }} {{ wallet.amount }}</span>
                            </div>
                            <div class="me-3 pb-3">
                                <p class="fs-14 mb-1">Withdrawal limit</p>
                                <span class="text-black font-w600 fs-18">{{ wallet.currency.iso_code }} {{ wallet.withdrawal_limit }}.</span>
                            </div>
                            <div class="me-3 pb-3">
                                <p class="fs-14 mb-1">Spent this month</p>
                                <span class="text-black font-w600 fs-18">{{ wallet.currency.iso_code }} {{ wallet.amount }}.</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 pt-0">
                        <a href="{% url 'payapp:topup-wallet' %}"  class="card-text d-inline">Topup Card</a>
                        <a href="{% url 'payapp:request-payment' %}" class="card-link float-end">Create New Payment</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}