{% extends 'payapps/layout/form_template.html' %}
{% load static %}

{% block additional_css %}
{% endblock %}

{% block form_content %}
    <form method="POST" class="post-form" action="/users/edit/{{ id }}">
        {% csrf_token %}
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.first_name }}
                    </div>
                    <div class="col-sm-6 mt-2 mt-sm-0">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
                {{ form.username }}
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                {{ form.email }}
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                {{ form.password }}
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Currency</label>
            <div class="col-sm-9">
                {{ form.currency }}
            </div>
        </div>
        <fieldset class="mb-3">
            <div class="row">
                <label class="col-form-label col-sm-3 pt-0">Role</label>
                <div class="col-sm-9">
                    {{ form.role }}
                </div>
            </div>
        </fieldset>
        <fieldset class="mb-3">
            <div class="row">
                <label class="col-form-label col-sm-3 pt-0">Status</label>
                <div class="col-sm-9">
                    {{ form.status }}
                </div>
            </div>
        </fieldset>
        <div class="mb-3 row float-md-right">
            <div class="col-sm-10 text-right">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
{% endblock %}
