{% extends 'payapps/layout/list_template.html' %}
{% load static %}

{% block list_additional_css %}
{% endblock %}

{% block show_add_new_btn %}
    <a href="{% url 'users-add-new' %}" class="btn btn-outline-primary mb-3"><i class="fa fa-plus-circle me-3 scale3"></i>Add New</a>
{% endblock %}
{% block list_content %}
    <!--**********************************
        Listing table start
    ***********************************-->
    <table class="table card-table display mb-4 dataTablesCard " id="example5">
        <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAll">
                    <label class="form-check-label" for="checkAll">
                    </label>
                </div>
            </th>
            <th>User ID </th>
            <th>Last Login</th>
            <th>Email Address</th>
            <th>Username</th>
            <th>Account holder Name</th>
            <th>Default Currency</th>
            <th>Status</th>
            <th>Role</th>
            <th>Date joined</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% if users %}
            {% for user in users %}
                <tr>

                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                            </label>
                        </div>
                    </td>
                    <td><span class="text-black font-w500">#{{ user.id }}</span></td>
                    <td><span class="text-black text-nowrap">{{  user.last_login}}</span></td>
                    <td><span class="text-black text-nowrap">{{  user.email}}</span></td>
                    <td><span class="text-black text-nowrap">{{  user.username}}</span></td>
                    <td><span class="text-black text-nowrap">{{ user.first_name }} {{ user.last_name }}</span></td>
                    <td><span class="text-black text-nowrap">{{ user.assigned_profile.currency.iso_code }}</span></td>
                    <td>
                        {% if user.is_active == True %}
                            <a href="javascript:void(0)" class="btn btn-success light">Active</a>
                        {% else %}
                            <a href="javascript:void(0)" class="btn btn-danger light">InActive</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_superuser == True %}
                            <a href="javascript:void(0)" class="btn btn-info light">Super Admin</a>
                        {% elif user.is_staff == True %}
                            <a href="javascript:void(0)" class="btn btn-dark light">Staff</a>
                        {% else %}
                            <a href="javascript:void(0)" class="btn btn-light light">Customer</a>
                        {% endif %}
                    </td>
                    <td><span class="text-black text-nowrap">{{  user.date_joined}}</span></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-danger light sharp" data-bs-toggle="dropdown">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'users-edit' user.id %}">Edit</a>
                                <a class="dropdown-item" href="{% url 'users-delete' user.id %}">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="10">No records found.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!--**********************************
        Listing table end
    ***********************************-->
{% endblock %}